/* Global Styles */
body{
  /* set global typography */
  font-size: 15px;
  font-family: 'Open Sans', sans-serif;

  background:#F5F5F7;
}
.card{
  padding: 20px;
  background: white;
  border-radius: 4px;
  border: none;
  margin-bottom: 20px;
}

/* Form Styles */
.form-control{
  border-radius: 4px;
  border: 1px solid #8e8d92;
  margin-bottom: 12px;
  margin-top: 20px;

}
.form-group{
  margin-bottom: 0;
}

/* Navbar */
.navbar{
  background: linear-gradient(
      to right, #0F142C, #53617F
  );
  padding: 20px;
  color: white;
  text-decoration: underline;
}
.navbar a{
  color: white;
  text-decoration: none;
}

/* Page Introduction */
.page-header{
  font-family: big-caslon-fb, serif;
  font-size: 28px;
  font-weight: 800;
  margin-top: 32px;
  margin-bottom: 0px;
  color: #0f142c;
}
.page-sub-heading{
  font-family: big-caslon-fb, serif;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 32px;
  color: #0f142c;
}

/* Section Titles */
.section-title{
  font-size: 21px;
  font-weight: bold;
  margin-bottom: 0;
  color: #0f142c;
}
.section-sub-title{
  font-size: 15px;
  font-weight: normal;
  color: #15213a;
  margin-bottom: 0;
}
.analysis-heading{
  margin-top: 12px;
  margin-bottom: 12px;
}

/* Buttons */
.btn-primary{
  color: white;
  background: linear-gradient(
      to right, #FF3C00, #FF005C
  );
  border: 1px solid #FF005C;
  margin-right: 8px;
}
.btn-primary:hover{
  background: linear-gradient(
      to right, #FF005C, #FF005C
  );
  border: 1px solid #FF005C;
}
.btn-primary:active{
  background: linear-gradient(
      to right, #CC0049, #CC0049
  );
  border: 1px solid #CC0049;
}
.btn-secondary{
  background: transparent;
  border: 1px solid #FF005C;
  color: #FF005C;
  font-weight: bold;
}
.btn-secondary:hover{
  background: rgba(255, 0, 92, .1);
  border: 1px solid #FF005C;
  color: #FF005C;
}
.btn-secondary:active{
  background: rgba(255, 0, 92, .2);
  border: 1px solid #FF005C;
  color: #FF005C;
}
.btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .show>.btn-secondary.dropdown-toggle{
  background: rgba(255, 0, 92, .2);
  border: 1px solid #FF005C;
  color: #FF005C;
}

/* Rulers */
hr{
  padding: 0;
  margin: 0;
}
.ruler-solid{
  border-color: #8E8D92;
}
.ruler-solid-light{
  border-color: #e3e4ea;
}
.ruler-dotted{
  border: 1px dotted #e3e4ea;
  margin-top: 24px;
  margin-bottom: 24px;
}
.results-heading-area-ruler{
  margin-top: 12px;
}

/* Error Styles */
.no-text-warning-area{
  display:none;
}

.no-text-warning-area .no-text-warning{
  font-size: 18px
  font-weight: bold;
  color: red;
}

/* Text & Image — Text Highlight */
.text-image_expanded-analysed-area .text-positive{
  display: inline-block;
  background: #33dca5;
  padding: 12px;
}
.text-image_expanded-analysed-area .text-negative{
  display: inline-block;
  background: #cc2f3d;
  padding: 12px;
  color: white;
}
.text-image_expanded-analysed-area .text-neutral{
  display: inline-block;
  background: #f3d333;
  padding: 12px;
}
.text-image_expanded-analysed-area .text_expanded-analysed{
  line-height: 100px;
}
.text-image_expanded-analysed-area .key-phrase-underline{
  border-bottom: 4px solid black;
}
.text_expanded-analysed-area .key-phrase-underline{
  border-bottom: 4px solid black;
  margin-bottom: 0;
}
.sub-section-title{
  font-size: 18px;
  font-weight: 500;
}
.text-sentiment{
  border-bottom: 1px solid black;
  margin-bottom: 0;
  display: inline-block;
}
.sentiment-details{
  font-size: 12px;
  padding-left: 12px;
  padding-top: 8px;
  margin-bottom: 24px;
}



/* Results */
.results-area{
  display: none;
}
.result-text-image_expanded{
  margin-top: 32px;
}
.result-text-image_expanded .primary-result-number{
  font-family: 'Open Sans', serif;
  font-weight: 800;
  font-size: 49px;
  line-height: 48px;
  color: #0f142c;
  margin-bottom: 0;
}
.result-text-image_expanded .primary-result-label{
  font-family: big-caslon-fb, serif;
  font-weight: 800;
  font-size: 48px;
  line-height: 48px;
  color: #0f142c;
  display: inline-block;
  margin-bottom: 0;
}
.result-text-image_expanded .secondary-result-number{
  font-family: 'Open Sans', serif;
  font-weight: 800;
  font-size: 21px;
  line-height: 24px;
  color: #0f142c;
  margin-bottom: 0;
}
.result-text-image_expanded .secondary-result-label{
  font-family: big-caslon-fb, serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #0f142c;
  display: inline-block;
  margin-bottom: 0;
}
.secondary-sentiment-results .sentiment-dot-sml{
  margin-right: 4px;
}

.result{
  font-family: big-caslon-fb, serif;
  font-weight: 800;
  font-size: 48px;
  /* line-height: 48px; */
  color: #0f142c;
  margin-bottom: 0px;
  display: inline-block;
}
.result-description{
  font-size: 18px
  color: #15213a;
  margin-bottom: 24px;
}
.result-text_truncated{
  margin-top: 24px;
}
.vertical-align-middle{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
}
.sentiment-dot-bg{
  height: 20px;
  width: 20px;
  border-radius: 50%;
  display: inline-block;
  vertical-align: text-bottom;
}
.sentiment-dot-sml{
  height: 8px;
  width: 8px;
  border-radius: 50%;
  display: inline-block;
}
.ledgend{
  margin-top: 8px;
}
.text-expanded-ledgend{
  margin-bottom: 20px;
}
.ledgend .key-phrase-symbol{
  height: 4px;
  width: 50px;
  background: #15213A;
  display: inline-block;
  margin-left: 8px;
}
.ledgend .positive, .negative, .neutral, .key-phrase{
  display: inline-block;
}
.ledgend .positive, .neutral, .negative{
  margin-right: 24px;
}
.label-ledgend{
  display: inline-block;
  margin-bottom: 0;
  font-size: 12px;
  color: #15213A;
}
.primary-emotion{
  font-weight: 700;
}
.dot-positive{
  background: #33dca5;
}
.dot-neutral{
  background: #f3d333;
}
.dot-negative{
  background: #cc2f3d;
}

.tooltip-primary-sentiment{
  font-weight: bold;
  font-family: 'Open Sans';
}
.tooltip-secondary-content{
  font-family: 'Open Sans';
}

.treemap-tooltip-sentiment{
  display: block;
  border-bottom: 1px dashed black;
  padding-bottom: 4px;
  margin-bottom: 8px;
}
.treemap-tooltip-sentiment-label, .treemap-tooltip-sentiment-number{
  font-weight: bold;
  display: inline-block;
}
.tremap-tooltip-entities-keyphrases{
  display: inline-block;
  margin-right: 4px;
}
/* text[style="font-size:=11px"]{
  display: none;
} */
