/* Global Styles */
body{
  /* set global typography */
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;

  background:#F5F5F7;
}

.form-control{
  border-radius: 4;
}

/* Navbar */
.navbar{
  background: black;
  padding: 20px;
  color: white;
  text-decoration: underline;
}

/* Page Introduction */
.page-header{
  font-size: 36px;
  font-weight: bold;
}
.page-sub-heading{
  font-size: 24px;
  font-weight: regular;
}

/* Section Titles */
.section-title{
  font-size: 24px;
  font-weight: bold;
}
.section-sub-title{
  font-size: 18px;
  font-weight: normal;
}

/* Buttons */
.btn-primary{
  color: white;
  background: linear-gradient(
      to right, #FF3C00, #FF005C
  );
  border: 1px solid #FF005C;
}
.btn-primary:hover{
  background: linear-gradient(
      to right, #FF005C, #FF005C
  );
  border: 1px solid #FF005C;
}
.btn-primary:active{
  background: linear-gradient(
      to right, #CC0049, #CC0049
  );
  border: 1px solid #CC0049;
}
.btn-secondary{
  background: transparent;
  border: 1px solid #FF005C;
  color: #FF005C;
  font-weight: bold;
}
.btn-secondary:hover{
  background: rgba(255, 0, 92, .1);
  border: 1px solid #FF005C;
  color: #FF005C;
}
.btn-secondary:active{
  background: rgba(255, 0, 92, .2);
  border: 1px solid #FF005C;
  color: #FF005C;
}
.btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .show>.btn-secondary.dropdown-toggle{
  background: rgba(255, 0, 92, .2);
  border: 1px solid #FF005C;
  color: #FF005C;
}


/* Error Styles */
.no-text-warning-area{
  display:none;
}

.no-text-warning-area .no-text-warning{
  font-size: 18px
  font-weight: bold;
  color: red;
}

/* Text & Image — Text Highlight */
.text-postive{
  background: green;
  padding: 12px;
}
.text-negative{
  background: red;
  padding: 12px;
}
.text-neutral{
  background: yellow;
  padding: 12px;
}

/* Toggle Results */
.results-area .results-content{
  visibility: hidden;
}
